* {
    margin: 0;
    padding: 0;
    

}


main {
    background:rgb(87, 87, 87);
    width: 1400px;
    height: 855px;
}

.menu {
    background: rgb(239, 187, 64);
    width: auto;
    height: 40px;
    padding: 15px 40px 0 40px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
}

.menu input {
    width: 170px;
    height: 25px;
    border: none;
    border-radius: 5px;

}

.playlist {
    width: 1400px;
    height: 800px;      
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;    
    justify-content:space-around;   
}

.playlist legend {
    text-align: center;
}

.footer {
    background: rgb(24, 24, 24);
    width: auto;
    height: 40px;
    color: rgb(196, 193, 193);
    padding: 15px 0 0 15px;

}

