* {
    margin: 0;
    padding: 0;

}


main {
    background: grey;
    width: 1200px;
    height: 900px;

}
.menu {
    background: rgb(226, 212, 10);
    width: auto;
    height: 50px;
    font-size: 22px;
    display: flex;
    flex-direction: row;    

}