* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


.paginaI-inteira {
    
    width: 1000px;
    height: 2200px;    
    
}

/*-----cabecalho do site-----*/

.cabecalho {
    background-color: white;
    width: 1000px;
    height: 420px;
}

.lado-esquerdo {
    background-color: white;
    width: 750px;
    height: 420px;
    position: absolute;
    
    
}

.lado-direito {
    background-color: rgb(29, 28, 28);
    width: 250px;
    height: 420px;
    position: absolute;
    right: 903px;
}

.menu {    
    width: 700px;
    height: 35px;
    position: absolute;
    left: 0;
    padding-top: 12px;

}

.menu a {  
    text-transform: uppercase;
    padding-left: 30px;
    font-size: 16px;
    color: crimson;


}

.sobre-mim {
    width: 700px;
    height: 420px;
    text-align: center;
    position: absolute;
    top: 180px;
}

.redes-socais {
    background-color: rgb(182, 165, 12);
    width: 30px;
    height: 420px;
    position: absolute;
    right: 0;    
}

.redes-socais img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 125px;
    margin: 25px 0 0 3px;
}



.foto img {
    background-color: white;
    width: 200px;
    height: 210px;
    border-right: 3px solid rgb(255, 255, 255);
    position: absolute;
    margin: 2px;
    right: 1050px;
    bottom: 550px;
    
}

.frase {      
    width: 1000px;
    height: 420px;
    position: absolute;
    top: 550px; 
    text-align: center;
    font-size: 18px; 
}


/*-----Experiências-----*/
.experiencias {
    /*background-color: rgb(29, 28, 28);*/    
    width: 1000px;
    height: 420px;
    position: absolute;
    top: 755px;
}

.experiencias p {
    color: rgb(29, 28, 28);
    position: absolute;
    top: 250px;
    left: 550px;
}

.tag-esquerda {
    background-color: crimson;
    width: 150px;
    height: 20px;
    position: absolute;
    top: 15px;
}

.tag-direita{
    background-color: crimson;
    width: 650px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0; 
}

.subtitulo {
    position: relative;
    top: 10px;
    left: 180px; 
    color: black;
    font-size: 22px;
}

.empresa {
    background-color: rgb(29, 28, 28);
    width: 200px;
    height: 65px;
    position: relative;
    top: 180px;
    left: 10px;
    margin: 5px;
    padding-left: 300px;
}

.servicos img {
    width: 50px;
    height: 50px;    
    display: block;    
    margin: auto;    
}




/*-----Acadêmico & Habilidades-----*/
.academico {       
    width: 1000px;
    height: 420px;
    position: absolute;
    top: 1500px; 
}

.servicos img {
    width: 50px;
    height: 50px;    
    display: block;    
    margin: auto;    
}

.cursos {
    background-color: rgb(29, 28, 28);
    width: 50px;
    height: 150px;
    position: relative;
    top: 150px;
    left: 550px;
    margin: 5px;
    padding-left: 300px;
}

.curso {
    background-color: rgb(134, 105, 8);
    width: 200px;
    height: 150px;
    position: absolute;
    left: 205px;

    
    
}




/*-----Portifólio-----*/
.portifolio {
    /*background-color: rgb(29, 28, 28);*/    
    width: 1000px;
    height: 420px;
    position: absolute;
    top: 2100px;  
}

.projeto img {
    width: 50px;
    height: 50px;    
    position: relative; 
    margin: auto;
    top: 120px;    
}

.projeto-design {
    background-color: rgb(29, 28, 28);    
    width: 1000px;
    height: 420px;
    position: absolute;
    top: 2580px;  
}

/*-----Desing-----*/


/*-----Footer-----*/

.footer {
    background-color:  rgb(134, 105, 8);
    height: 50px;
    width: 1000px; 
    text-align: center;    
    position: absolute;
    top: 3000px;  
      
}

.footer p {
    color: rgb(7, 7, 7);
    padding-top: 15px;
    font-size: 16px; 
}